@mixin flex($align: "start", $justify: "start", $direction: "row") {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  @if $direction != "row" {
    flex-direction: column;
    justify-content: $align;
    align-items: $justify;
  }
}

@mixin transition($time: 0.2s) {
  transition: $time all ease-in;
}

@mixin shadow(
  $color1: rgba(0, 0, 0, 0.1),
  $color2: $primary,
  $color3: rgba(0, 0, 0, 0.3)
) {
  box-shadow: inset 0 -3em 3em $color1, 0 0 0 2px $color2,
    0.3em 0.3em 1em $color3;
}
