.projects {
  width: 100%;
  &-wrapper {
    @include flex($direction: column);
    width: 100%;
  }
  &__data {
    padding: 0 0 32px 0;
  }
  &__button {
    background: var(--secondary) !important;
    color: var(--primary) !important;
    width: 150px;
    font-size: $font-size-medium !important;
    white-space: nowrap;
    border-radius: 16px !important;
    &_scroll {
      position: fixed !important;
      bottom: 40px;
      right: 24px;
    }
  }
  &__types {
    @include flex($align: center);
    &-add {
      color: var(--secondary);
      font-size: $font-size-medium;
      cursor: pointer;
      margin-left: 24px;
    }
  }
}
.buttons-group {
  @include flex();
  border: 1px solid var(--secondary-light-2);
  padding: 1px;
  border-radius: 16px;

  &__item {
    border-radius: 16px;
    height: 31px;
    color: var(--text-secondary-light) !important;
    &_active {
      background: var(--secondary-light) !important;
      color: var(--text-secondary) !important;
    }
  }
}
