.estimates {
  @include flex();
  &__data {
    @include flex($direction: column);
  }
  &-wrapper {
    @include flex($justify: space-between);
    flex-wrap: wrap;
  }
  &__title {
    margin: 0 0 24px 0;
    font-size: $font-size-large;
    color: var(--text-secondary-light);
    font-weight: 600;
  }
  // &__block {
  //   @include flex($direction: column);
  // }
  &__cards {
    @include flex();
  }
}
