.table {
  border: 1px solid var(--secondary);
  border-radius: 16px;
  text-align: center;
  &__head {
    background: var(--secondary-light);
    &-row {
    }
    &-cell {
      font-size: $font-size-medium;
      font-weight: 600;
      &_light {
        color: $text-primary-light;
      }
      &:first-child {
        @include border-radius($top-left: 16px);
      }
      &:last-child {
        @include border-radius($top-right: 16px);
      }
    }
  }
  &__body {
    &-row {
      &:nth-child(1n) {
        background-color: var(--primary-background);
      }
      &:nth-child(2n) {
        background-color: var(--primary);
      }
      &:last-child {
        td {
          &:first-child {
            @include border-radius($bottom-left: 16px);
          }
          &:last-child {
            @include border-radius($bottom-right: 16px);
          }
        }
      }
    }
    &-cell {
      border-top: 1px solid var(--secondary-light-2);
    }
  }
  &__body-cell,
  &__head-cell {
    padding: 16px;
    border-right: 1px solid var(--secondary);
    &:last-child {
      border-right: none;
    }
  }
}
