.table {
  border-radius: 16px;
  text-align: center;
  border-top: 1px solid var(--secondary);
  &__head {
    background: var(--secondary-light);
    &-row {
    }
    &-cell {
      font-size: $font-size-medium;
      font-weight: 600;
      &_light {
        color: $text-primary-light;
      }
      &:first-child {
        @include border-radius($top-left: 16px);
        border-left: 1px solid var(--secondary);
      }
      &:last-child {
        @include border-radius($top-right: 16px);
        border-right: 1px solid var(--secondary);
      }
    }
  }
  &__body {
    &-row {
      &:nth-child(1n) {
        background-color: var(--primary-background);
      }
      &:nth-child(2n) {
        background-color: var(--primary);
      }
      &:last-child {
        td {
          border-bottom: 1px solid var(--secondary);
          &:first-child {
            @include border-radius($bottom-left: 16px);
          }
          &:last-child {
            @include border-radius($bottom-right: 16px);
          }
        }
      }
    }
    &-cell {
      border-top: 1px solid var(--secondary-light-2);
      &:first-child {
        border-left: 1px solid var(--secondary);
      }
      &:last-child {
        border-right: 1px solid var(--secondary);
      }
    }
  }
  &__body-cell,
  &__head-cell {
    padding: 16px;
    border-right: 1px solid var(--secondary);
    &:last-child {
      // border-right: none;
    }
  }
  &__footer {
    &-row {
      font-weight: 600;
      font-size: $font-size-large;
      &:first-child {
        td {
          padding: 24px 0 0 0;
        }
      }
      &:last-child {
        color: $text-secondary;
      }
    }
    &-cell {
      padding: 16px 0 0 0;
    }
  }
}
