.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  &-content {
    @extend %border-radius;
    @include shadow();
    padding: 40px;
    background-color: $primary;
  }
}
.active {
  @include flex($align: center, $justify: center);
}
