.modal {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background-color: var(--modal-background);
  backdrop-filter: blur(16px);
  z-index: 4;
}
.active {
  @include flex($align: center, $justify: center);
}
