.menu {
  &__item {
    @include transition();
    font-weight: bold;
    cursor: pointer;
    &:hover {
      @include transition();
      background: rgba($secondary, 20%);
    }
  }
  &__link {
    @include flex($align: center);
    @include transition();
    height: 37px;
    color: $text-secondary;
    &:hover {
      @include transition();
      color: $secondary;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: $secondary;
        width: 5px;
        height: 100%;
        border-radius: 0 10px 10px 0;
      }
    }
  }
  &__icon {
    margin: 0 15px 0 20px;
  }
}
