.sidebar {
  left: -175px;
  &__open {
    left: 0;
  }
  &__closed {
    @include flex(
      $justify: flex-end,
      $align: space-between,
      $direction: column
    );
  }
  &__link_active {
    div {
      background: var(--sidebar-link) !important;
      font-weight: bold;
    }
  }
}
