@import "./shared/styles/variables/index.scss";

/*:export {
  color-dark: $dark;
  color-white: $white;
  color-primary: $primary;
  color-secondary: $secondary;
  color-success: $success;
  color-danger: $danger;
  color-warning: $warning;
  text-color-dark-grey: $warning;
}*/

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 50%;
  height: auto;
}
a {
  text-decoration: none;
  color: $dark;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
