@import "./shared/styles";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary-background);
  color: var(--text-primary);
  font-family: "Roboto Condensed", sans-serif;
}
img {
  height: auto;
}
a {
  color: var(--text-primary);
}
