@import "./shared/styles";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: darken($primary, 10%);
  color: $text-primary;
  font-family: "Roboto Condensed", sans-serif;
}
img {
  max-width: 50%;
  height: auto;
}
a {
  color: $text-primary;
}
