$primary: #ffff;
$primary-background: #f5f7fb;
$secondary: #906fd9;
$secondary-light: linear-gradient(
  90deg,
  rgba(144, 111, 217, 0.36) 0%,
  rgba(178, 154, 233, 0.44) 100%
);
$secondary-light-2: rgba(144, 111, 217, 0.48);
$success: rgb(24, 199, 24);
$danger: rgb(199, 24, 24);
$warning: rgb(199, 103, 24);
$sidebar-link: linear-gradient(
  90deg,
  rgba(144, 111, 217, 0.16) 0%,
  rgba(178, 154, 233, 0) 100%
);
$dashboard-statistic: linear-gradient(
  143.54deg,
  rgba(144, 111, 217, 0.16) 1%,
  rgba(178, 154, 233, 0) 100%
);
:root {
  --primary: #{$primary};
  --primary-background: #{$primary-background};
  --secondary: #{$secondary};
  --secondary-light: #{$secondary-light};
  --secondary-light-2: #{$secondary-light-2};
  --success: #{$success};
  --danger: #{$danger};
  --warning: #{$warning};
  --sidebar-link: #{$sidebar-link};
  --dashboard-statistic: #{$dashboard-statistic};
}

:export {
  primary: $primary;
  primary-background: $primary-background;
  secondary: $secondary;
  secondary-light: $secondary-light;
  secondary-light-2: $secondary-light-2;
  success: $success;
  danger: $danger;
  warning: $warning;
  sidebar-link: $sidebar-link;
  dashboard-statistic: $dashboard-statistic;
  //   primary: var(red);
  //   --redd: var(--sidebar-link);
}
