/*$text-secondary: rgb(132, 35, 177);
$text-secondary: rgb(241, 238, 36);
$text-success: rgb(24, 199, 24);
$text-danger: rgb(199, 24, 24);
$text-warning: rgb(199, 103, 24);
$text-info:rgb(241, 238, 36);
$text-light:rgb(241, 238, 36);
$text-muted:;*/
$text-primary: white;
$text-secondary: #a19bbd;
$text-dark-grey: rgb(65, 65, 65);
$text-light-grey: rgb(99, 99, 99);
