/*$text-secondary: rgb(132, 35, 177);
$text-secondary: rgb(241, 238, 36);
$text-success: rgb(24, 199, 24);
$text-danger: rgb(199, 24, 24);
$text-warning: rgb(199, 103, 24);
$text-info:rgb(241, 238, 36);
$text-light:rgb(241, 238, 36);
$text-muted:;*/
$text-primary: #030306;
$text-primary-light: rgba(3, 3, 6, 0.48);
$text-primary-light-2: rgba(0, 0, 0, 0.48);
$text-secondary: #906fd9;
$text-secondary-light: rgba(144, 111, 217, 0.48);
$text-light: #ffffff;
$text-dark-grey: rgb(65, 65, 65);
$text-light-grey: rgb(99, 99, 99);

:root {
  --text-primary: #{$text-primary};
  --text-primary-light: #{$text-primary-light};
  --text-primary-light-2: #{$text-primary-light-2};
  --text-secondary: #{$text-secondary};
  --text-secondary-light: #{$text-secondary-light};
  --text-light: #{$text-light};
  --text-dark-grey: #{text-dark-grey};
  --text-light-grey: #{text-light-grey};
}

:export {
  text-primary: $text-primary;
  text-primary-light: $text-primary-light;
  text-primary-light-2: $text-primary-light-2;
  text-secondary: $text-secondary;
  text-secondary-light: $text-secondary-light;
  text-light: $text-light;
  text-dark-grey: $text-dark-grey;
  text-light-grey: $text-light-grey;
}
